<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{{ site.title }} | {{ page.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


	<link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/font-awesome.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/js/fancybox/jquery.fancybox.css" | prepend: site.baseurl }}" media="screen">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" >
	<link rel="stylesheet" href="{{ "/assets/js/prettify/prettify.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ site.favicon }}" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	<script type="text/javascript" src="/assets/js/embed.js"></script>
	<script type="text/javascript" src="/assets/js/ua-parser.js"></script>
	<script>var duoshuoQuery = {short_name:"maydaycoder"};</script>
</head>


<!-- 主要内容body开始 -->
<body>

{% include header.html %}
  
<div class="content">
	<div class="container">	
		<div class="row">  		
			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span>Beijing China - 7</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>
				</div>
				
				<div class="tag-cloud-text">
					<a href="http://mumingv.github.io/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签</p></a>
				</div>
				<div class="tag-cloud">	
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								<a href="http://mumingv.github.io/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
							{% endfor %}
					</div>					
				</div>
				<div class="clear"></div>
				<div class="recentcome box-shadow">
	 				<p>最近访客 <i class="fa fa-user"></i></p>
	 				<ul class="ds-recent-visitors" data-num-items="15"></ul>
	 			</div>


	 			<div class="comment box-shadow">
	 				<p>最新评论 <i class="fa fa-comments"></i></p>
	 				<dl class="ds-recent-comments"  data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1"  data-show-admin="1" data-excerpt-length="50"></dl>
	 			</div>
	 			
	 			<!-- 左侧div: 常用链接 -->
	 			<div class="recentuse">
	 					<p>常用链接</p>
	 					<hr>
						暂无
	 					<!-- <ul> -->
		 					<!-- <li><a href = "https://github.com/">github主页</a></li> -->
	 					<!-- </ul> -->
	 			</div>

	 			<!-- 左侧div: 友情链接 -->
				<div class="friendlink">
	 					<p>友情链接</p>
	 					<hr>
	 					暂无				
		 				<!-- <a href = "#">暂无</a> 					 -->
	 			</div>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">					 		
					<div class="page-content" id="pjax">{{content}}</div>				
			</div>
		</div>	
	</div>
</div>


<div class="profile_social">
	<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
	<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
	<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
</div>

<!-- 向下拖动后, 右侧底部滚动出来的那个小按钮 -->
<div id="backtotop">
		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
</div>

<div class="pjax_loading"></div>


<!-- 底栏footer -->
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}'s blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.author.github%}
          <li>
            <a class="github" href="{{ site.author.github }}"  target="_blank"></a>
          </li>
          {% endif %}

          {% if site.author.weibo %}
          <li>
            <a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
    <div class="center sitedesc">
    	Powered by <a href ="http://jekyllrb.com/">Jekyll</a>  |  © 2015 GY  |  Hosted on <a href="https://github.com/{{ site.author.github_username }}/{{ site.author.github_username }}.github.io"> Github</a>
    </div>
  </div>
	
 
  <script type="text/javascript">
	  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
	  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
	  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
	  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
	  
	  _st('install','yeJZSeBF6XzYF_iNno8P','2.0.0');
  </script>
  
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.pjax.js"></script> 
  <script type="text/javascript" src="/assets/js/echarts.js"></script> 
  <script type="text/javascript" src="/assets/js/prettify/prettify.js"></script>
  <script type="text/javascript" src="/assets/js/stickUp.min.js"></script>
  <script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/assets/js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
  <link rel="stylesheet" href="{{ "/assets/css/duoshuo.css" | prepend: site.baseurl }}"> 
</footer>


</body>

</html>